.background {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-card {
    width: 500px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    text-align: left;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.437);
}

.content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

#author {
    text-align: right;
}