.background {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

#nav-bar {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.437);
    height: 5vh;
    justify-content: space-between;
    gap: 5vw;
}

.item1 {
    margin-right: auto;
}

button, a {
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

#quote-card {
    width: 500px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    text-align: left;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.437);
}

.content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

#author {
    text-align: right;
}